<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <i class="bi bi-list" style="font-size: 2rem"></i>
    <span class="fs-4">Menú</span>
  
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" >
      <a class="nav-link" data-bs-toggle="pill" href="#" routerLink="/usuarios" *ngIf="authService.isAdmin">
        <i class="bi bi-list-ul" style="font-size: 20px"></i>
        <span class="fs-6">USUARIOS</span>
      </a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#" routerLink="/alumnos">
        <i class="bi bi-list-ul" style="font-size: 20px"></i>
        <span class="fs-6">ALUMNOS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#" routerLink="/cursos">
        <i class="bi bi-list-ul" style="font-size: 20px"></i>
        <span class="fs-6">CURSOS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#" routerLink="/inscripciones">
        <i class="bi bi-list-ul" style="font-size: 20px"></i>
        <span class="fs-6">INSCRIPCIONES</span>
      </a>
    </li>

  </ul>
  <hr>
</div>
