<button mat-raised-button color="primary" routerLink="/alumnos/form" *ngIf="authService.isAdmin">+ Añadir nuevo Alumno  </button>
<table #table mat-table [dataSource]="alumnoss" class="mat-elevation-z8">

    <ng-container matColumnDef="alumno">
      <th mat-header-cell *matHeaderCellDef> Alumnos </th>
      <td mat-cell *matCellDef="let element">
      {{ nombreApellido | union: element.nombre : element.apellido }} </td> 
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element">
      {{element.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element">
      {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element" >
        {{element.dni}} </td>
      </ng-container>

      <ng-container matColumnDef="inscripcion">
        <th mat-header-cell *matHeaderCellDef> Inscribir </th>
        <td mat-cell *matCellDef="let element">
          <div (click)="getAlumnoDetails2(element)" routerLink="/cursos">
            <span class="material-icons">
                add_circle
            </span>
        </div>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div (click)="getAlumnoDetails(element)" routerLink="/alumnos/edit">
            <span class="material-icons" *ngIf="authService.isAdmin">
                edit
            </span>
        </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" >
          <div (click)="getAlumnoDetails(element)" routerLink="/alumnos/info">
            <span class="material-icons">
                info
            </span>
        </div>
        </td>
      </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" >
          <div (click)="deleteElement(element)">
            <span class="material-icons" *ngIf="authService.isAdmin">
                delete
            </span>
        </div>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

